---
import type { MDItem } from '../sortAndLimit'
import { dayFormatter } from '../dateFormat'

export interface Props {
  item: MDItem
}

const { item } = Astro.props as Props

const day = dayFormatter.format(new Date(item.frontmatter.date))
---

<li>
  <h4>{day}</h4>
  <span>{item.type === 'linked' ? '🔗' : '📰'}</span>
  <h3><a href={item.url}>{item.frontmatter.title}</a></h3>
</li>

<style>
  li {
    display: flex;
    gap: 8px;
    align-items: baseline;
    margin-left: 8px;
  }
  h4 {
    font-style: italic;
    font-size: x-large;
    color: var(--highlight-color);
  }
</style>
