---
import { Toggle } from './Toggle'
---

<div class="toggle">
  <Toggle client:only="preact" />
</div>

<style>
  .toggle {
    position: absolute;
    inset-block: 0;
    right: 0;
  }
</style>

<script is:inline>
  const setColorSchemeProperties = (colorScheme) => {
    document.documentElement.style.setProperty(
      '--text-color',
      `var(--${colorScheme}-text-color)`
    )
    document.documentElement.style.setProperty(
      '--background-color',
      `var(--${colorScheme}-background-color)`
    )
    document.documentElement.style.setProperty(
      '--highlight-color',
      `var(--${colorScheme}-highlight-color)`
    )
  }

  const setHeaderColorScheme = (colorScheme) => {
    const headerElements = document.getElementsByTagName('header')

    for (let headerElement of headerElements) {
      headerElement.setAttribute('data-color-scheme', colorScheme)
    }
  }

  if (
    typeof localStorage !== 'undefined' &&
    localStorage.getItem('colorScheme')
  ) {
    setColorSchemeProperties(localStorage.getItem('colorScheme'))
    setHeaderColorScheme(localStorage.getItem('colorScheme'))
  } else {
    setHeaderColorScheme(
      window.matchMedia('(prefers-color-scheme: dark)').matches
        ? 'dark'
        : 'light'
    )
  }
</script>
