<footer>
  <div>
    <ul>
      <li><a href="/archive">Archive</a></li>
      <li><a href="/privacy">Privacy Policy</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
  <div class="copy">
    Made with <a href="https://astro.build/">Astro</a> 🚀 + Hosted by ▲ <a
      href="https://vercel.com/"
      >Vercel
    </a>
  </div>
</footer>

<style>
  footer {
    padding-bottom: 50px;
    text-align: center;
  }

  p {
    margin: 0;
  }

  ul {
    list-style: none;
    margin: 0 0 40px;
    padding: 0;
  }

  li {
    margin: 8px 0 0;
  }

  li a {
    text-decoration-thickness: 1px;
  }

  .copy {
    font-size: 0.9rem;
  }

  @media (min-width: 960px) {
    footer {
      display: flex;
      text-align: start;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: flex-end;
    }

    ul {
      margin-bottom: 0;
    }
  }
</style>
