@font-face {
  font-family: 'GortonPerfected';
  src: url(/fonts/gorton-perfected.woff2) format('woff2');
  font-weight: 300 400 600;
}

@font-face {
  font-family: 'BerkeleyMono';
  src: url(/fonts/berkeley-mono-regular.woff2) format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Author';
  src: url(/fonts/author-regular.woff2) format('woff2');
  font-weight: 400;
  size-adjust: 120%;
}
