@import 'tailwindcss';

@import './fonts.css' layer(base);

@theme {
  --font-display: 'GortonPerfected', 'Helvetica Neue', Helvetica, sans-serif;
  --font-display--font-feature-settings: 'ss01', 'ss04';

  --font-mono: 'BerkeleyMono', 'ui-monospace', 'SF Mono', 'Monaco', 'monospace';
  --font-sans:
    'Quicksand', -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

body {
  @apply min-h-screen bg-mist-50 text-mist-900 dark:bg-mist-900 dark:text-mist-100;
}

main,
footer {
  @apply mx-auto max-w-xl px-4;
}

main {
  @apply lg:-mt-8;
}

blockquote {
  @apply my-6 border-l-4 border-sky-300 pl-4 dark:border-sky-700;
}

blockquote p:last-of-type {
  @apply mb-0;
}

hr {
  @apply my-12 border-t-2 border-mist-200 dark:border-sky-950;
}

article {
  @apply mb-20;

  h1 {
    @apply mt-8 text-3xl leading-10 text-balance text-mist-700 lg:text-4xl dark:text-mist-200;
  }
  h2 {
    @apply font-display mt-12 mb-6 text-lg text-balance text-mist-600 uppercase dark:text-mist-300 [h1+&]:mt-8;
  }
  h3 {
    @apply font-display my-4 text-lg text-balance text-mist-600 dark:text-mist-300;
  }
  p {
    @apply mb-6 text-justify text-pretty;

    a {
      @apply text-sky-700 underline hover:text-sky-950 dark:text-sky-100 dark:hover:text-sky-400;
    }
  }
  ol {
    @apply mb-8 ml-8 list-decimal;
  }
  ul {
    @apply mb-8 ml-8 list-disc;

    a {
      @apply text-sky-700 underline hover:text-sky-950 dark:text-sky-100 dark:hover:text-sky-400;
    }
  }
  img {
    @apply mx-auto my-8 max-h-[40rem] rounded shadow-md;
  }
  code {
    @apply font-mono;
  }
  :not(pre) > code {
    @apply rounded bg-sky-100 px-1 py-0.5 dark:bg-sky-950;
  }
  pre {
    @apply -mx-2 mb-8 rounded-md border-1 border-mist-100 p-2 dark:border-mist-800;
  }
}

footer {
  a {
    @apply text-sky-700 hover:text-sky-950 dark:hover:text-sky-600;
  }
}

.astro-code,
.astro-code span {
  background-color: var(--color-white) !important;
}

@media (prefers-color-scheme: dark) {
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--color-mist-950) !important;
  }
}
