.footer {
  padding-bottom: 50px;
  text-align: center;
}

.footer p {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0 0 40px;
  padding: 0;
}

.list li {
  margin: 5px 0 0;
}

.list li a {
  text-decoration-thickness: 1px;
}

.copy {
  font-size: 0.9rem;
  font-style: italic;
}

@media (min-width: 720px) {
  .footer {
    display: flex;
    text-align: start;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
  }

  .list {
    margin-bottom: 0;
  }
}
