.header {
  position: sticky;
  top: 0;
  background: linear-gradient(rgba(249, 245, 227, 0.95), rgba(249, 245, 227, 0.9) 70%, rgba(249, 245, 227, 0));
  padding: 10px 0;
  text-align: center;
}

.header a {
  text-decoration-color: var(--flame);
  text-decoration-style: wavy;
  text-decoration-skip-ink: none;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-style: italic;
  font-weight: 400;
}

.header a:hover {
  color: var(--flame);
}

@media (min-width: 720px) {
  .header {
    text-align: start;
  }
}
