.header {
  position: sticky;
  top: 0;
  background: linear-gradient(rgba(249, 245, 227, 0.95), rgba(249, 245, 227, 0.9) 70%, rgba(249, 245, 227, 0));
  padding: 10px 0;
  text-align: center;
}

.header a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-style: italic;
  font-weight: 400;
}

.header a:hover {
  color: var(--flame);
}

.overlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 125%;
  overflow: hidden;
  white-space: nowrap;
  z-index: 1;
  text-decoration: underline;
  text-decoration-color: var(--flame);
  text-decoration-style: wavy;
  text-decoration-skip-ink: none;
  color: rgba(0, 0, 0, 0);
}

.scrollable {
  position: relative;
}

@media (min-width: 960px) {
  .header {
    text-align: start;
  }
}
