.title {
  margin-bottom: 5px;
  line-height: 1.1;
}

.title a {
  text-decoration: none;
}

.underlined {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--flame);
}

.emoji {
  text-decoration: none;
}
