---
import { getCollection } from 'astro:content'
import Layout from '@layouts/Layout.astro'
import ArchiveItem from '@components/ArchiveItem.astro'
import MonthHeader from '@components/MonthHeader.astro'
import { sortAndLimit, splitByMonth } from '../sortAndLimit'

const linked = getCollection('linked')
const posts = getCollection('posts')

const items = splitByMonth(sortAndLimit(await linked, await posts))
---

<Layout title="Archive">
  <main>
    <h1>Archive 🗄</h1>
    {
      Object.keys(items).map((month) => (
        <section>
          <MonthHeader month={month} />
          <ul>
            {items[month].map((item) => (
              <ArchiveItem item={item} />
            ))}
          </ul>
        </section>
      ))
    }
  </main>
</Layout>
