---
import type { Linked, Post } from '../sortAndLimit'

import Layout from '../layouts/Layout.astro'
import About from '../components/About.astro'
import Item from '../components/Item.astro'

import { sortAndLimit } from '../sortAndLimit'

const linked = Astro.glob<Linked>('../pages/linked/*.md')
const posts = Astro.glob<Post>('../pages/posts/*.md')

const items = sortAndLimit(await linked, await posts, 10)
---

<Layout>
  <main>
    {items.map((item) => <Item item={item} />)}
  </main>

  <About />
</Layout>
