---
import type { MDItem } from '../sortAndLimit'
import { dayFormatter } from '../dateFormat'

export interface Props {
  item: MDItem
}

const { item } = Astro.props as Props

const day = dayFormatter.format(new Date(item.frontmatter.pubDate))
---

<li>
  <span class="day">{day}</span>
  <h3 class="title"><a href={item.url}>{item.frontmatter.title}</a></h3>
</li>

<style>
  li {
    display: flex;
    align-items: center;
  }

  .day {
    font-style: italic;
    font-size: var(--font-size-5);
    width: 3ch;
    text-align: center;
  }

  .title {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-4);
    margin-block: var(--size-2);
  }
</style>
