---
import type { CollectionEntry } from 'astro:content'
import { dayFormatter } from '../dateFormat'

interface Props {
  item: CollectionEntry<'linked'> | CollectionEntry<'posts'>
}

const { item } = Astro.props

const day = dayFormatter.format(new Date(item.data.pubDate))
---

<li class="grid-cols-archive my-2 grid items-center gap-4">
  <span class="justify-self-center text-2xl font-bold">{day}</span>
  <h3 class="text-lg">
    <a href={`${item.collection}/${item.slug}`}>{item.data.title}</a>
  </h3>
</li>
