---
import type { CollectionEntry } from 'astro:content'
import { dateFormatter } from '@src/dateFormat'

interface Props {
  item: CollectionEntry<'linked'> | CollectionEntry<'posts'>
}

const { item } = Astro.props
const { pathname } = Astro.url

const itemPath = `/${item.collection}/${item.slug}`

const href = itemPath !== pathname ? itemPath : undefined

const date = dateFormatter.format(new Date(item.data.pubDate))
---

<date class="inline-block font-light text-stone-700 dark:text-stone-300">
  {
    !!href ? (
      <a href={href} class="no-underline">
        {date}
      </a>
    ) : (
      date
    )
  }
</date>
