---
import type { CollectionEntry } from 'astro:content'
import { dateFormatter } from '../utils/dateFormat'

interface Props {
  item: CollectionEntry<'linked'> | CollectionEntry<'posts'>
}

const { item } = Astro.props
---

<time datetime={item.data.pubDate}>
  <a href={`/${item.collection}/${item.id}`} class="underline hover:text-lime-300">
    {dateFormatter.format(new Date(item.data.pubDate))}
  </a>
</time>
