---
interface Props {
  date: string
  href?: string
}

import { dateFormatter } from '../dateFormat'

const { date: rawDate, href } = Astro.props

const date = dateFormatter.format(new Date(rawDate))
---

<date
  class="inline-block text-lg font-extralight text-neutral-700 dark:text-neutral-500"
>
  {
    !!href ? (
      <a href={href} class="no-underline">
        {date}
      </a>
    ) : (
      date
    )
  }
</date>
