---
export interface Props {
  date: string
  href?: string
}

import { dateFormatter } from '../dateFormat'

const { date: rawDate, href } = Astro.props as Props

const date = dateFormatter.format(new Date(rawDate))
---

<date>
  {!!href ? <a href={href}>{date}</a> : date}
</date>

<style>
  a {
    text-decoration: none;
  }
</style>
