---
interface Props {
  date: string
  href?: string
}

import { dateFormatter } from '../dateFormat'

const { date: rawDate, href } = Astro.props

const date = dateFormatter.format(new Date(rawDate))
---

<date class="inline-block font-light text-stone-700 dark:text-stone-300">
  {
    !!href ? (
      <a href={href} class="no-underline">
        {date}
      </a>
    ) : (
      date
    )
  }
</date>
