<footer class="pt-8 pb-16">
  <ul
    class="font-display flex flex-col gap-1 text-sm uppercase sm:flex-row sm:justify-between"
  >
    <li>
      <a
        class="text-sky-950 hover:text-sky-700 dark:text-sky-50 dark:hover:text-sky-300"
        href="/work">Work</a
      >
    </li>
    <li>
      <a
        class="text-sky-900 hover:text-sky-600 dark:text-sky-100 dark:hover:text-sky-400"
        href="/archive">Archive</a
      >
    </li>
    <li>
      <a
        class="text-sky-800 hover:text-sky-500 dark:text-sky-200 dark:hover:text-sky-500"
        href="/reading">Reading</a
      >
    </li>
    <li>
      <a
        class="text-sky-700 hover:text-sky-500 dark:text-sky-300 dark:hover:text-sky-600"
        href="/feed.xml">RSS</a
      >
    </li>
    <li>
      <a
        class="text-sky-600 hover:text-sky-400 dark:text-sky-400 dark:hover:text-sky-700"
        href="/colophon">Colophon</a
      >
    </li>
    <li>
      <a
        class="text-sky-500 hover:text-sky-300 dark:text-sky-500 dark:hover:text-sky-800"
        href="/privacy">Privacy</a
      >
    </li>
  </ul>
</footer>
