<footer class="py-16">
  <ul class="flex flex-col items-center gap-1 md:flex-row md:justify-between">
    <li>
      <a href="/work">Work</a>
    </li>
    <li>
      <a href="/archive">Archive</a>
    </li>
    <li>
      <a href="/reading">Reading</a>
    </li>
    <li>
      <a href="/feed.xml">RSS</a>
    </li>
    <li>
      <a href="/colophon">Colophon</a>
    </li>
    <li>
      <a href="/privacy">Privacy</a>
    </li>
  </ul>
</footer>
