<footer class="pt-8 pb-16">
  <ul
    class="font-display flex flex-col gap-1 text-sm text-sky-950 uppercase sm:flex-row sm:justify-between dark:text-sky-50"
  >
    <li>
      <a class="hover:text-sky-700 dark:hover:text-sky-300" href="/work">Work</a
      >
    </li>
    <li>
      <a class="hover:text-sky-700 dark:hover:text-sky-300" href="/archive"
        >Archive</a
      >
    </li>
    <li>
      <a class="hover:text-sky-700 dark:hover:text-sky-300" href="/reading"
        >Reading</a
      >
    </li>
    <li>
      <a class="hover:text-sky-700 dark:hover:text-sky-300" href="/feed.xml"
        >RSS</a
      >
    </li>
    <li>
      <a class="hover:text-sky-700 dark:hover:text-sky-300" href="/colophon"
        >Colophon</a
      >
    </li>
    <li>
      <a class="hover:text-sky-700 dark:hover:text-sky-300" href="/privacy"
        >Privacy</a
      >
    </li>
  </ul>
</footer>
