<footer>
  <div>
    <ul>
      <li><a href="/archive">Archive</a></li>
      <li><a href="/privacy">Privacy Policy</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
  <div class="copy">
    Made with <a href="https://astro.build/">Astro</a> 🚀 + Hosted by ▲ <a
      href="https://vercel.com/"
      >Vercel
    </a>
  </div>
</footer>

<style>
  p {
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-block-start: var(--size-2);
  }

  li a {
    text-decoration-thickness: 1px;
  }

  .copy {
    font-size: var(--font-size-1);
  }
</style>
