<footer
  class="mb-20 flex flex-col items-center text-center md:flex-row-reverse md:items-end md:justify-between md:text-start"
>
  <div>
    <ul class="mb-16 md:mb-0">
      <li class="mt-2"><a href="/archive">Archive</a></li>
      <li class="mt-2">
        <a href="/privacy">Privacy Policy</a>
      </li>
    </ul>
  </div>
  <div>
    Made with <a href="https://astro.build/">Astro</a> 🚀 + Hosted by ▲ <a
      href="https://vercel.com/"
      >Vercel
    </a>
  </div>
</footer>
