---
import ColorScheme from '../components/ColorScheme.astro'
import { LogoScrolling } from './LogoScrolling'

const title = 'Appjeniksaan'
---

<header data-color-scheme="light">
  <a href="/">
    <span id="logo" class="logo">
      <span>{title}</span>
      <span aria-hidden="true" class="overlay">
        <span class="scrollable">{`${title} ${title}`}</span>
      </span>
    </span>
    <LogoScrolling client:only="preact" />
  </a>
  <ColorScheme />
</header>

<style>
  header {
    position: sticky;
    top: 0;
    padding: 10px 0;
    text-align: center;
  }

  header[data-color-scheme='light'] {
    background: linear-gradient(
      rgba(var(--cultured-rgb), 1),
      rgba(var(--cultured-rgb), 0.9) 50%,
      rgba(var(--cultured-rgb), 0)
    );
  }

  header[data-color-scheme='dark'] {
    background: linear-gradient(
      rgba(var(--yankees-blue-rgb), 1),
      rgba(var(--yankees-blue-rgb), 0.9) 50%,
      rgba(var(--yankees-blue-rgb), 0)
    );
  }

  a {
    text-underline-offset: 1px;
  }

  @media (min-width: 960px) {
    header {
      text-align: start;
    }
  }

  .logo {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-style: italic;
    font-weight: 400;

    --offset: 0%;
  }

  .logo:hover {
    color: var(--highlight-color);
  }

  .logo .overlay {
    position: absolute;
    left: 0;
    width: 100%;
    height: 125%;
    overflow: hidden;
    white-space: nowrap;
    z-index: 1;
    text-decoration: underline;
    text-decoration-color: var(--highlight-color);
    text-decoration-style: wavy;
    text-decoration-skip-ink: none;
    color: rgba(0, 0, 0, 0);
  }

  .logo .scrollable {
    position: relative;
    left: var(--offset);
  }
</style>
