---
import { site } from '../constants'
---

<header>
  <a href="/">
    <span id="logo" class="logo">
      <span>{site.title}</span>
      <span aria-hidden="true" class="overlay">
        <span class="scrollable">{`${site.title} ${site.title}`}</span>
      </span>
    </span>
  </a>
</header>

<script>
  window.addEventListener('scroll', () => {
    const offset = window.pageYOffset
    const element = document.getElementById('logo')

    if (element) {
      element.style.setProperty(
        '--offset',
        `${offset <= -100 ? -200 : (offset % 100) - 100}%`
      )
    }
  })
</script>

<style>
  @import 'open-props/media';

  a {
    text-underline-offset: 1px;
  }

  .logo {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-style: italic;
    font-weight: 400;

    --offset: 0%;
  }

  .logo:hover {
    color: var(--highlight-color);
  }

  .logo .overlay {
    position: absolute;
    left: 0;
    width: 100%;
    height: 125%;
    overflow: hidden;
    white-space: nowrap;
    z-index: 1;
    text-decoration: underline;
    text-decoration-color: var(--highlight-color);
    text-decoration-style: wavy;
    text-decoration-skip-ink: none;
    color: rgba(0, 0, 0, 0);
  }

  .logo .scrollable {
    position: relative;
    left: var(--offset);
  }

  @media (--OSdark) {
    .logo {
      color: white;
    }
  }
</style>
