---
import { SITE_TITLE } from '../consts'
---

<header class="flex justify-center pt-2 sm:justify-start">
  <a
    href="/"
    class="font-display text-center text-red-50 uppercase hover:text-lime-300 dark:text-red-950"
  >
    {SITE_TITLE}
  </a>
</header>
