---
import { SITE_TITLE } from '../consts'
---

<header class="flex justify-center pt-2 sm:justify-start">
  <a href="/" class="font-display text-center uppercase text-red-50 dark:text-red-950 hover:text-lime-300">
    {SITE_TITLE}
  </a>
</header>
