---
import ColorScheme from '../components/ColorScheme.astro'
import { Logo } from './Logo'
---

<header data-color-scheme="light">
  <a href="/">
    <Logo client:only="preact" title="Appjeniksaan" />
  </a>
  <ColorScheme />
</header>

<style>
  header {
    position: sticky;
    top: 0;
    padding: 10px 0;
    text-align: center;
  }

  header[data-color-scheme='light'] {
    background: linear-gradient(
      rgba(var(--cultured-rgb), 1),
      rgba(var(--cultured-rgb), 0.9) 50%,
      rgba(var(--cultured-rgb), 0)
    );
  }

  header[data-color-scheme='dark'] {
    background: linear-gradient(
      rgba(var(--yankees-blue-rgb), 1),
      rgba(var(--yankees-blue-rgb), 0.9) 50%,
      rgba(var(--yankees-blue-rgb), 0)
    );
  }

  a {
    text-underline-offset: 1px;
  }

  @media (min-width: 960px) {
    header {
      text-align: start;
    }
  }
</style>
