---
import { extractDomain } from 'src/extractDomain'
import Date from '@components/Date.astro'
import Subheading from '@components/Subheading.astro'

interface Props {
  pubDate: string
  localHref?: string
  href: string
}

const { pubDate, localHref, href } = Astro.props

const domain = extractDomain(href)
---

<Subheading>
  {
    domain && (
      <span class="font-light text-stone-600 dark:text-stone-400">
        Source:
        <a href={href} class="font-display no-underline">
          {domain}
        </a>
        &mdash;
      </span>
    )
  }
  <Date date={pubDate} href={localHref} />
</Subheading>
