---
import { extractDomain } from 'src/extractDomain'
import Date from '@components/Date.astro'
import Subheading from '@components/Subheading.astro'

interface Props {
  pubDate: string
  localHref?: string
  href: string
}

const { pubDate, localHref, href } = Astro.props

const domain = extractDomain(href)
---

<Subheading>
  <Date date={pubDate} href={localHref} />
  {
    domain && (
      <span class="italic font-extralight text-neutral-700 dark:text-neutral-500">
        {' '}
        &mdash; {domain}
      </span>
    )
  }
</Subheading>
