---
import { extractDomain } from 'src/extractDomain'
import Date from '@components/Date.astro'
import Subheading from '@components/Subheading.astro'

interface Props {
  pubDate: string
  localHref?: string
  href: string
}

const { pubDate, localHref, href } = Astro.props

const domain = extractDomain(href)
---

<Subheading>
  <Date date={pubDate} href={localHref} />
  {domain && <span>&mdash; {domain}</span>}
</Subheading>

<style>
  @import 'open-props/media';

  span {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-2);
    color: var(--gray-7);
    font-style: italic;
  }

  @media (--OSdark) {
    span {
      color: var(--gray-5);
    }
  }
</style>
