---
import type { CollectionEntry } from 'astro:content'
import Subheading from '@components/Subheading.astro'

interface Props {
  item: CollectionEntry<'linked'>
}

const { item } = Astro.props
const { Content } = await item.render()
---

<>
  <h1><a href={item.data.href}>{item.data.title}</a></h1>
  <Subheading item={item} />

  <Content />
</>
