.logo {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-style: italic;
  font-weight: 400;

  --offset: 0%;
}

.logo:hover {
  color: var(--highlight-color);
}

.overlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 125%;
  overflow: hidden;
  white-space: nowrap;
  z-index: 1;
  text-decoration: underline;
  text-decoration-color: var(--highlight-color);
  text-decoration-style: wavy;
  text-decoration-skip-ink: none;
  color: rgba(0, 0, 0, 0);
}

.scrollable {
  position: relative;
  left: var(--offset);
}
