---
import { site } from '../constants'
---

<a
  href="/"
  class="font-display relative inline-block no-underline text-2xl font-light hover:text-highlight underline-offset-1 text-stone-700 dark:text-stone-100"
>
  <span class="drop-shadow-header">{site.title}</span>
  <span
    aria-hidden="true"
    class="absolute left-0 w-full h-[125%] overflow-hidden whitespace-nowrap z-10 underline decoration-highlight decoration-wavy decoration-skip-ink-none text-transparent"
  >
    <span id="wavy" class="relative" style={{ left: 'var(--offset, 0%)' }}
      >{`${site.title} ${site.title}`}</span
    >
  </span>
</a>

<script>
  window.addEventListener('scroll', () => {
    const offset = window.pageYOffset
    const element = document.getElementById('wavy')

    if (element) {
      element.style.setProperty(
        '--offset',
        `${offset <= -100 ? -200 : (offset % 100) - 100}%`
      )
    }
  })
</script>
