---
import { monthFormatter } from '../dateFormat'

interface Props {
  month: string
}

const { month: input } = Astro.props

const [year, month] = input.split('-').map((value) => parseInt(value, 10))

const date = monthFormatter.format(new Date(`${year}-${month}`))
---

<h2 class="text-3xl font-thin mt-12 mb-4">{date}</h2>
