---
import { getEntry, render, type CollectionEntry } from 'astro:content'
import Subheading from './Subheading.astro'

interface Props {
  item: CollectionEntry<'posts'>
}

const { item } = Astro.props
const { Content } = await render(item)
---

<Subheading item={item} />
{item.data.description ? <p>{item.data.description}</p> : <Content />}
