---
import type { CollectionEntry } from 'astro:content'
import { dayFormatter } from '@src/dateFormat'

interface Props {
  item: CollectionEntry<'reading'>
}

const { item } = Astro.props

const day = dayFormatter.format(item.data.completed)
---

<li class="my-2 grid grid-cols-archive items-center gap-4">
  <span class="justify-self-center text-2xl font-bold">{day}</span>
  <h3 class="text-lg">
    <a href={`/${item.collection}/${item.slug}`}>{item.data.title}</a>
  </h3>
</li>
