---
import type { CollectionEntry } from 'astro:content'
import { extractDomain } from '../utils/extractDomain'
import DateBlock from './DateBlock.astro'

interface Props {
  item: CollectionEntry<'linked'> | CollectionEntry<'posts'>
}

const { item } = Astro.props
---

<div class="mt-2 mb-6 font-mono text-sm text-neutral-500 dark:text-neutral-400">
  {
    item.collection === 'linked' ? (
      <span>
        <span class="">&gt;</span>
        <a
          href={item.data.href}
          class="underline"
          set:text={extractDomain(item.data.href)}
        />
        <span>&mdash;</span>
      </span>
    ) : (
      <span>&lt;</span>
    )
  }

  <DateBlock item={item} />
</div>
