---
import Layout from '../layouts/Layout.astro'
import { dateFormatter } from '../dateFormat'

const { content } = Astro.props
---

<Layout
  description={content.description}
  title={content.title}
  type="article"
  url={content.url}
>
  <acticle>
    <h1>{content.title}</h1>
    <h4>{dateFormatter.format(new Date(content.pubDate))}</h4>

    <slot />
  </acticle>
</Layout>
