:root {
  /* https://coolors.co/14080e-d5896f-56666b-f9f5e3-f05d23 */

  --xiketic: #14080e;
  --eggshell: #f9f5e3;
  --flame: #f05d23;
  --cadet: #56666b;
  --copper-crayola: #d5896f;

  --break-width: 720px;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--eggshell);
}

body {
  color: var(--xiketic);
  font-family: -apple-system-ui-serif, ui-serif, serif;
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-weight: lighter;
}

blockquote {
  border-left: 2px solid var(--flame);
  padding-left: 10px;
  margin: 0;
}

article,
aside,
main {
  margin-bottom: 80px;
}

h1 {
  font-weight: normal;
  font-size: 1.8rem;
  margin: 40px 0 10px;
}

h2 {
  font-style: italic;
  font-size: 1.4rem;
  font-weight: lighter;
}

a {
  color: var(--xiketic);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--flame);
}

a:hover {
  color: var(--flame);
}

* {
  box-sizing: border-box;
}
