:root {
  /* https://coolors.co/14080e-d5896f-56666b-f9f5e3-f05d23 */

  --onyx: #39393a;
  --eggshell: #f9f5e3;
  --flame: #f05d23;
  --cadet: #56666b;
  --copper-crayola: #d5896f;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--eggshell);
}

body {
  color: var(--onyx);
  font-family: -apple-system-ui-serif, ui-serif, 'Georgia', serif;
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: lighter;
}

blockquote {
  border-left: 2px solid var(--flame);
  padding-left: 10px;
  margin: 0;
}

article {
  margin: 160px 0 80px;
}

article:first-child {
  margin-top: 0;
}

aside,
main {
  margin-bottom: 80px;
}

h1 {
  font-weight: lighter;
  font-size: 1.8rem;
  margin: 40px 0 10px;
}

h2 {
  font-size: 1.5rem;
  font-weight: lighter;
  margin: 64px 0 8px;
}

a {
  color: var(--onyx);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--flame);
}

img {
  display: block;
  margin: 16px auto 32px;
  border-radius: 0.3em;
  box-shadow: rgba(240, 93, 35, 0.2) 4px 4px, rgba(240, 93, 35, 0.1) 8px 8px, rgba(240, 93, 35, 0.05) 12px 12px;
  border: 1px solid rgba(240, 93, 35, 0.05);
  max-height: 640px;
}

a:hover {
  color: var(--flame);
}

* {
  box-sizing: border-box;
}

code {
  font-family: ui-monospace, monospace;
  font-size: 0.9rem;
  background-color: rgba(240, 93, 35, 0.1);
  outline: 2px solid rgba(240, 93, 35, 0.1);
}
